$texto-header: #fafafa;
$background-h3: #e4e8ee;
.sidebar {
  .filtros {
    margin-left: 15px;

    h3 {
      padding: 4px;
      background-color: $background-h3;
    }
    p {
      margin-left: 10px;
    }
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .sidebar {
    width: 100%;
    margin-top: 50px;

    .sidebar__nav {
      margin-right: 35px;

      .sidebar__nav-buttons {
        display: block;
        padding: 10px;
        margin: 10px;
        color: #bb98c9;
        list-style: none;
        text-decoration: none;
        text-align: center;
      }
      .sidebar__nav-buttons::first-letter {
        text-transform: uppercase;
      }

      .sidebar__nav-buttons:hover,
      .actived {
        background-color: #10021796;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        transition: 500ms;
      }
    }

    h1 {
      margin-bottom: 5px;
      color: $texto-header;
    }
    h2 {
      color: $texto-header;
    }

    .filtros {
      margin-left: 15px;

      #categorys {
        display: none;
      }
      #categorys.active {
        display: block;
      }

      #talles {
        display: none;
      }

      #talles.active {
        display: block;
      }

      #colors {
        display: none;
      }

      #colors.active {
        display: block;
      }

      h3 {
        padding: 4px;
        background-color: #270933;
        color: $texto-header;
      }
      p {
        margin-left: 10px;
        color: $texto-header;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 916px) {
  .sidebar {
    width: 100%;
    margin-right: 50px;
    margin-top: 50px;
    h1 {
      margin-bottom: 5px;
      font-size: 30px;
    }

    .sidebar__nav {
      display: none;
    }
  }
}

@media (min-width: 916px) and (max-width: 1440px) {
  .sidebar {
    width: 100%;
    margin-right: 120px;
    margin-top: 50px;
    h1 {
      margin-bottom: 5px;
      font-size: 30px;
    }
    .sidebar__nav {
      display: none;
    }
  }
}
